@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    background: url('../images/background.jpg');
    height: 100vh;
    overflow-x: hidden !important;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
}
.snake_png{
    position: absolute;
    right:0;
    bottom:0;
    margin-right:-100px;
    object-fit: none;
}
#board{
    position: absolute;
    margin-top: 4rem;
    height: 640px;
    width: 640px; 
    background-image: linear-gradient(rgb(162, 253, 162),rgb(83, 83, 6));
    box-shadow: 8px 8px 8px rgb(65, 216, 65);
    border: 3px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head {
    background:linear-gradient(rgb(102, 51, 51),rgb(62, 62, 136));
}
.food{
    background:linear-gradient(rgb(102, 51, 51),rgb(62, 62, 136));
}
.snake_body{
    background:linear-gradient(rgb(224, 21, 21),rgb(12, 12, 231));
}
#scoreBox{
    position: absolute;
    font-size: 3rem;
    left:550px;
    top: 0;
    font-weight: bold;
    font-family: 'Pattaya', sans-serif;
}
#high_score{
    position: absolute;
    font-size: 3rem;
    left:780px;
    top: 0;
    font-weight: bold;
    font-family: 'Pattaya', sans-serif;
}